<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
</head>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }

    .dropdwn {
        margin: 0 auto;
    }

    nav {
        height: 60px;
        background: #304b98;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    }

    .logo {
        padding: 5px 0 0 21px;
        width: 44px;
        height: auto;
    }

    nav ul {
        padding: 0;
        margin: 0;
        float: right;
        margin-right: 30px;
    }

    nav ul li {
        background: #304b98;
        position: relative;
        list-style: none;
        display: inline-block;
    }

    nav ul li a {
        display: block;
        padding: 0 21px;
        color: white;
        text-decoration: none;
        line-height: 60px;
        font-size: 12px;
    }

    nav ul li a:hover {
        background: #eeeff5;
        color: #304b98;
    }

    nav ul ul {
        position: absolute;
        top: 60px;
        display: none;
    }

    nav ul li:hover>ul {
        display: block;
    }

    nav ul ul li {
        width: 150px;
        float: none;
        display: list-item;
        position: relative;
    }

    img {
        position: absolute;
        /* margin: 14px; */
        height: 48px;
        width: 62px;
        margin-left: 10px;
        /* margin-bottom: 3px; */
        margin-top: 5px;
    }



    .all {
        background-image: linear-gradient(135deg, #EA5455 5%, #FEB692 100%);
        margin: 0%;
        padding: 23%;
        text-align: center;
    }

    h1 {
        width: 50%;
        color: white;
        margin-top: -28%;
        margin-left: 23%;
        text-shadow: 0 5px 5px black;
    }

    .f1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .l1 {
        position: absolute;
        left: 37%;
        top: 35%;
        color: white;
        font-size: 19px;
        text-shadow: 0 3px 5px black;
    }

    .l2 {
        position: absolute;
        left: 37%;
        top: 41%;
        color: white;
        font-size: 19px;
        text-shadow: 0 3px 5px black;
    }

    .l3 {
        position: absolute;
        left: 37%;
        top: 46%;
        color: white;
        font-size: 19px;
        text-shadow: 0 3px 5px black;
    }

    .l4 {
        position: absolute;
        left: 37%;
        top: 51%;
        color: white;
        font-size: 19px;
        text-shadow: 0 3px 5px black;
    }

    .l5 {
        position: absolute;
        left: 37%;
        top: 56%;
        color: white;
        font-size: 19px;
        text-shadow: 0 3px 5px black;
    }

    .l6 {
        position: absolute;
        left: 37%;
        top: 61%;
        color: white;
        font-size: 19px;
        text-shadow: 0 3px 5px black;
    }

    .l7 {
        position: absolute;
        left: 37%;
        top: 66%;
        color: white;
        font-size: 19px;
        text-shadow: 0 3px 5px black;
    }

    .l8 {
        position: absolute;
        left: 37%;
        top: 71%;
        color: white;
        font-size: 19px;
        text-shadow: 0 3px 5px black;
    }

    .l9 {
        position: absolute;
        left: 37%;
        top: 76%;
        color: white;
        font-size: 19px;
        text-shadow: 0 3px 5px black;
    }

    input {
        border-radius: 10px;
        border: 1px solid white;
        color: #123597;
        box-shadow: 0 2px 4px black;
        text-align: center;
        padding: 5px;
    }

    .btn1 {
        color: #123597;
        position: absolute;
        margin-left: -2%;
        margin-top: 16%;
        border: 1px solid white;
        cursor: pointer;
        border-radius: 10px;
    }

    #name {
        position: absolute;
        left: 112%;
        top: 15%;
        border: 1px solid white;
        cursor: pointer;
        border-radius: 10px;
    }

    #spec {
        position: absolute;
        left: 112%;
        top: 20%;
        border: 1px solid white;
        cursor: pointer;
        border-radius: 10px;
    }

    h4 {
        position: absolute;
        left: 29%;
        top: 53%;
    }
</style>

<body>

    <div class="dropdwn">
        <nav>
            <img src="/images/icon.png" alt="clinic logo">

            <ul>
                <li><a href="home_p">Dashboard</a></li>


                <li><a href="addpatient_p">Create Patient</a></li>


                <li><a href="">Appointment</a>
                    <ul>
                        <li><a href="check_p">Book Appointment</a></li>
                        <li><a href="cancelp_app">Cancel Appointment</a></li>
                    </ul>
                </li>

                <li><a href="logout_p">Logout</a></li>
            </ul>

        </nav>
    </div>

    <div class="all">
        <h1>Check availabilty of doctor</h1>
        <form action="/check_p" method="post" class="f1">
            <label class="l1"> Select doctor<select name="cname" id="name">
                    {{#each Docname}}
                    <option>{{docname}}</option>
                    {{/each}}
                </select></label>
            <label class="l2"> Select Date<input type="date" id="tm" name="cdate"></label>
            <label for="" class="l3">Specilization
                <select name="spec" id="spec">
                    <option value="Choose">Choose</option>
                    <option value="Cardiologist">Cardiologist</option>
                    <option value="Neurologist">Neurologist</option>
                    <option value="Pediatrician">Pediatrician</option>
                    <option value="Gynecologist">Gynecologist</option>
                    <option value="Psychiatrist">Psychiatrist</option>
                </select></label>
            <h4> *** Enter Doctor's name and Specilization correctly to check availability *** </h4>
            <button type="submit" value="submit" class="btn1">Submit</button>
        </form>
    </div>

</body>

</html>