<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">

    <style>
        body {
            background-image: linear-gradient(135deg, #EA5455 10%,#FEB692 100%);
        }

        .registration {
            background-image: linear-gradient(135deg, #97ABFF 10%, #123597 100%);
            width: 43%;
           /* border: 3px solid linear-gradient(135deg, #cc208e 10%, #6713d2 100%);*/
            box-shadow: 10px;
            box-shadow: 0 14px 28px;
            box-sizing: border-box;
            border-radius: 20px;
            padding: 3%;
            padding-bottom: 1%;
            margin-left: 26%;
            margin-top: 12%;
            position: fixed;
        }

        h1 {
            position: absolute;
            width: 50%;
            color: white;
            margin-top: 29%;
            margin-left: 5%;
            text-shadow: 0 1px 2px;
        }

        button {
            margin: 10px;
            margin-top: 302px;
            margin-left: 74%;
            /* border: none; */
            border-radius: 10px;
            border: 1px solid;
            cursor: pointer;
            padding: 4px;
        }

        button a{
            color: #123597;
        }

        a:link {
            text-decoration: none;
        }

        img {
            position: absolute;
            width: 20%;
            margin-top: 7%;
            margin-left: 45px;
        }

        form {
            display: inline-block;
            position: absolute;
            float: right;
            margin-top: 1%;
            margin-left: 62%;
        }

        input {
            padding: 2%;
            margin: 3%;
            border-radius: 10px;
            border: 1px solid white;
            
            box-shadow: 0 2px 4px;
        }

        ::-webkit-input-placeholder {
            color: #123597;
        }

        .registration div {
            padding: 2%;
            margin: 3%;
            border-radius: 10px;

            color: white;

        }

        select {
            border: 0px solid white;
            /* box-shadow: 0 2px 4px; */
            /* color: white; */
            border-radius: 7px;
        }

        .container select {
            border-radius: 10px;
            color: #123597;
        }

        #submit {
            color: #123597;
            position: absolute;
            margin-left: -36%;
            margin-top: 23%;
            border: 1px solid white;
            cursor: pointer;
        }
    </style>

</head>

<body>

    <div class="registration">
        <h1>Registration</h1>
        <img src="/images/icon.png" alt="clinic logo">
        <form id="register" method="post" action="/index">

            <input type="text" id="a" name="fname" placeholder="Enter your first name">

            <input type="text" id="a" name="Nname" placeholder="Enter your last name">

            <input type="number" id="a" name="num" placeholder="Enter your number">

            <input type="number" id="a" name="age" placeholder="Enter your age">

            <input type="email" id="a" name="email" placeholder="Enter your email">

            <input name="inv" value="Date: {{regToday}}" readonly>

            <div class="container">
                <label for="">Gender</label>
                <select name="gen" id="a">
                    <option value="">Choose</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <input type="password" id="a" name="pass" placeholder="Enter your password">
            <form action="/login">
                <input type="submit" value="Submit" id="submit">
            </form>
            <ul>
                <button class="btn"><a href="intro">Go Back</a></button>
            </ul>
        </form>
    </div>
</body>

</html>