<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Oops!</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <style>
        .sbody {
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .scontainer2 {
            position: relative;
            width: 55%;
            height: 46%;
            border: 2px solid black;
            padding: 10px 40px;
        }

        .scontainer2 h1 {
            font-size: 3.5rem;
            position: absolute;
            top: 27%;
        }

        .scontainer2 a {
            font-size: 1.4rem
        }
    </style>
</head>

<body class="sbody">
    <div class="scontainer2">
        <h1>Sorry ! {{message}}</h1>
        <a href={{hreflink}}>Go Back</a>
    </div>
</body>

</html>