<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background: #dedede;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }

        .dropdwn {
            margin: 0 auto;
        }

        nav {
            height: 60px;
            background: #2c3e50;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        }

        .logo {
            padding: 5px 0 0 21px;
            width: 44px;
            height: auto;
        }

        nav ul {
            padding: 0;
            margin: 0;
            float: right;
            margin-right: 30px;
        }

        nav ul li {
            background: #2c3e50;
            position: relative;
            list-style: none;
            display: inline-block;
        }

        nav ul li a {
            display: block;
            padding: 0 20px;
            color: white;
            text-decoration: none;
            line-height: 60px;
            font-size: 12px;
        }

        nav ul li a:hover {
            background: #243342;
        }

        nav ul ul {
            position: absolute;
            top: 60px;
            display: none;
        }

        nav ul li:hover>ul {
            display: block;
        }

        nav ul ul li {
            width: 150px;
            float: none;
            display: list-item;
            position: relative;
        }
    </style>

</head>

<body>

    <div class="dropdwn">
        <nav> 
            <img class="logo" src="icon.png">

            <ul>
                <li><a href="home_p">Dashboard</a></li> 


                <li><a href="addpatient_p">Create Patient</a></li>


                <li><a href="">Appointment</a>
                    <ul>
                        <li><a href="check_p">Book Appointment</a></li>
                        <li><a href="cancelp_app">Cancel Appointment</a></li>
                    </ul>
                </li>

                <li><a href="logout_p">Logout</a></li>
            </ul>

        </nav>
    </div>

</body>

</html>